<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Eat-Da-Burger!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burgers.js"></script>
		<link rel="stylesheet" type="text/css" href="/public/css/burger_style.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Fascinate+Inline|Fredoka+One|Modak|Sulphur+Point&display=swap" rel="stylesheet">
	<style>
		body{
			background-image: url("https://newevolutiondesigns.com/images/freebies/retro-wallpaper-1.jpg");
			font-family: 'Sulphur Point', sans-serif;
		}
		.navbar{background-color: rgba(243, 235, 217);}
		.jumbotron, .text{
			background-color: rgba(243, 235, 217, 0.5);
			text-align: center;
		}
		#title{
			font-family: 'Fredoka One', cursive;
			font-size: 100px;
			color:cornsilk;
			text-align: center;
			  text-shadow: 2px 2px #ff0000;
		}
		ul{ font-size: 30px;
			text-align: left;
			color:rgb(69, 83, 83);
			margin: 30px
		}
		button{ color: white;
		margin: 5px} 

		.card-header{
			color:rgb(42, 42, 71)
		}
	</style>
	
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
